.titulo{
  color: #1f2937;
  font-weight: 500;
  border-bottom: 1px solid #94a3b8;
}


.form {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.form > div{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.form > div > input{
  padding: .5rem;
  height: 40px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 5px;
  border: 1px solid #cbd5e1;
}

.justifyEnd{
  justify-content: flex-end;
}

.justifyStart{
  justify-content: flex-start;
}

.containerInfoCEP{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layoutInfo{
  display: flex;
  gap: 10px;
  align-items: center;
}
.error{
  color:#f87171;
  font-size: .8rem;
}

.animationSpinner {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.secaoButton{
  grid-column: span 2;
  display: flex;
  align-items: center;
  
}
.button{
  width: 220px;
  padding: 1rem;
  background-color: #93c5fd;
  border: 1px solid #93c5fd;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  color: #1f2937;
  letter-spacing: 1px;
  font-weight: 500;
}

.button:hover{
  background-color: #4b97ee;
}

.disable{
  opacity: .5;
}