
.container{
    width: 100%;
}

.listaDados{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.listaDados a{
    cursor: pointer;
}

.card{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.card_content{
    display: flex;
    flex-direction: column;
    font-size: small;
}



